@import "tailwindcss";

:root {
  --background: #fafcfb;
  --base: #f2f6f4;
  --foreground: #171717;
  --prim: #009966;
  --seco: #61726b;
}

@font-face {
  font-family: dana;
  src: url("/fonts/dana\ medium.ttf");
}

@font-face {
  font-family: dana-l;
  src: url("/fonts/dana\ regular.ttf");
}

@font-face {
  font-family: dana-b;
  src: url("/fonts/dana\ bold.ttf");
}

@font-face {
  font-family: dana-db;
  src: url("/fonts/dana\ demibold.ttf");
}

@font-face {
  font-family: dana-xb;
  src: url("/fonts/dana\ extrabold.ttf");
}

@font-face {
  font-family: iransans;
  src: url("/fonts/iransansdnweblight.ttf");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: dana;
}

/*  */
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #61726b24;
}

::-webkit-scrollbar-thumb {
  background-color: #17171733;
  cursor: pointer;
  @apply hover:bg-[#171717]/35!;
}

/*________________ cart-button _______________*/
.cart-button-rail {
  @apply sm:-translate-x-8 -translate-x-10 duration-300 translate-y-px;
}

.cart-button:hover .cart-button-rail {
  @apply translate-x-18;
}

/*________________ product-cart-button _______________*/
.product-cart-button-rail {
  @apply sm:-translate-x-18.5 -translate-x-10 duration-300 translate-y-px;
}

.product-cart-button:hover .product-cart-button-rail {
  @apply translate-x-30;
}

/*________________ footer list item _______________*/
.footer_list_item:hover .footer_list_item_b_border {
  @apply -right-3;
}

/*________________ sidebar animation _______________*/
.sidebar {
  animation: sidebarAnimation 400ms;
  -webkit-animation: sidebarAnimation 400ms;
}

@keyframes sidebarAnimation {
  0% {
    transform: translateX(16rem);
    -webkit-transform: translateX(16rem);
    -moz-transform: translateX(16rem);
    -ms-transform: translateX(16rem);
    -o-transform: translateX(16rem);
  }
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/*________________ page_cover animation _______________*/
.page_cover {
  animation: cover_pageAnimation 400ms;
  -webkit-animation: cover_pageAnimation 400ms;
}

@keyframes cover_pageAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*________________ grid template columns _______________*/
@media (max-width: 40rem) {
  .grid_auto_fit {
    grid-template-columns: repeat(auto-fit, minmax(10.5rem, auto));
  }
}

@media (width >= 40rem) {
  .grid_auto_fit {
    grid-template-columns: repeat(auto-fit, minmax(14rem, auto));
  }
}

/*________________ padding for navbar _______________*/
.p-nav {
  @apply md:pt-19.5 pt-16;
}

/*________________ price _______________*/
.price {
  @apply font-[iransans] text-black/85 font-bold;
}

/*________________ discount _______________*/
.discount {
  @apply font-[iransans] text-black/60 font-bold line-through text-[15px];
}

/*________________ button _______________*/
.btn {
  @apply flex items-center justify-center gap-1.5 cursor-pointer rounded-lg px-4 py-2 outline-none border-none active:scale-95;
}

.btn-out {
  @apply flex items-center justify-center font-[dana-db] gap-1.5 cursor-pointer rounded-lg sm:px-4 px-3 sm:py-2 py-1.5 outline-none border-2 active:scale-95;
}

/*________________ scrollbar_hidden _______________*/
.scrollbar_hidden {
  scrollbar-width: none;
}

/*________________ pry_border _______________*/
.pry_border { 
  @apply border border-(--seco)/10
}

/*________________ dot _______________*/
.dot {
  @apply size-1.5 bg-(--seco)/30 rounded-full mx-2;
}

/*________________ navCartModal _______________*/
.nav_cart_modal_content_container::-webkit-scrollbar-thumb {
  @apply bg-black/15 hover:bg-black/30 rounded-full
}
.nav_cart_modal_content_container::-webkit-scrollbar {
  width: 0.25rem;
  @apply bg-white/0!
}

/*________________ MuiRating _______________*/
.MuiRating-iconEmpty {
  @apply opacity-40;
}

/*________________ swiper _______________*/
.swiper {
  @apply z-0!;
}
/* landing swiper */
.landingSwiper .swiper-button-next,
.landingSwiper .swiper-button-prev {
  @apply opacity-0 text-black/40! hover:text-black/80! duration-150 md:block! hidden! scale-90 active:scale-85;
}

.landingSwiper .swiper:hover .swiper-button-next {
  @apply opacity-100;
}

.landingSwiper .swiper:hover .swiper-button-prev {
  @apply opacity-100;
}
/* categories swiper */
.categoriesSwiper .swiper-button-disabled,
.secoProductsBoxSwiper .swiper-button-disabled,
.home_swiper_template .swiper-button-disabled {
  @apply hidden!;
}

.categoriesSwiper .swiper {
  @apply lg:px-[4vw] sm:px-[7vw] px-[10vw];
}

.categoriesSwiper .swiper-button-next,
.categoriesSwiper .swiper-button-prev {
  @apply bg-white/85 border border-neutral-500/50 shadow-2xl rounded-full lg:p-3.5 sm:p-2 p-2 lg:size-12 sm:size-10 size-9 text-black/70 lg:-translate-y-3 md:-translate-y-2 active:scale-95;
}
/* discounted products swiper */
.secoProductsBoxSwiper .swiper-button-next,
.secoProductsBoxSwiper .swiper-button-prev {
  @apply lg:block hidden bg-white/85 border border-neutral-500/50 shadow rounded-full lg:p-3.5 sm:p-2.5 p-2 lg:size-12 sm:size-10 size-9 text-black lg:translate-y-1 active:scale-95;
}

.secoProductsBoxSwiper .swiper {
  @apply lg:pe-[4vw] sm:pe-[8vw] pe-[10vw];
}
/* seco products box */
.SecoProductBox {
  @apply bg-black/0 hover:bg-black;
}

.SecoProductBox-image {
  @apply duration-100!;
}

.SecoProductBox-showAndBuy {
  @apply opacity-0 -bottom-6 duration-250!;
}

.SecoProductBox:hover .SecoProductBox-image {
  @apply opacity-85;
}

.SecoProductBox:hover .SecoProductBox-showAndBuy {
  @apply opacity-100 flex translate-y-0 bottom-0;
}

/* home swiper template */
.home_swiper_template .swiper-button-next,
.home_swiper_template .swiper-button-prev {
  @apply bg-white/85 border sm:opacity-85 opacity-69 border-neutral-500/50 shadow-xl rounded-full lg:p-3.5 sm:p-2.5 p-2 lg:size-13 sm:size-12 size-11 text-black/70 lg:translate-y-1 active:scale-95 z-10!;
}
