@import "tailwindcss";

:root {
  --background: #fbfefd;
  --base: #ecfdf5;
  --foreground: #171717;
  --prim:#009966;
  --seco: #61726b;
  --nut-prim: #ecfdf5;
}

@font-face {
  font-family: dana;
  src: url('/fonts/dana\ medium.ttf');
}

@font-face {
  font-family: dana-b;
  src: url('/fonts/dana\ bold.ttf');
}

@font-face {
  font-family: dana-db;
  src: url('/fonts/dana\ demibold.ttf');
}

@font-face {
  font-family: dana-xb;
  src: url('/fonts/dana\ extrabold.ttf');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: dana;
}

/*  */
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #61726b44;
}

::-webkit-scrollbar-thumb {
  background-color: #1717174d;
  cursor: pointer;
  @apply hover:bg-[#171717]/50!
}

/*________________ swiper _______________*/
 .swiper {
  @apply z-0!
}
/* landing swiper */
.landingSwiper .swiper-button-next, .landingSwiper .swiper-button-prev {
  @apply opacity-0 text-black/40! hover:text-black/80! duration-150 md:block! hidden! scale-90 active:scale-85
}

.landingSwiper .swiper:hover .swiper-button-next {
  @apply opacity-100 
}

.landingSwiper .swiper:hover .swiper-button-prev {
  @apply opacity-100
}
/* categories swiper */
.categoriesSwiper .swiper-button-disabled, .discountedProductsSwiper .swiper-button-disabled {
  @apply hidden!
}

.categoriesSwiper .swiper {
  @apply lg:px-[4vw] sm:px-[7vw] px-[10vw]
}

.categoriesSwiper .swiper-button-next, .categoriesSwiper .swiper-button-prev {
  @apply bg-(--prim)/60 rounded-full lg:p-3.5 sm:p-2 p-2 lg:size-12 sm:size-10 size-9 text-white lg:-translate-y-3 md:-translate-y-2 active:scale-95 shadow-xl/20
}

.categoriesSwiper .swiper-button-next {
  transform: translateX(-3px);
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  -o-transform: translateX(-3px);
}

.categoriesSwiper .swiper-button-prev {
  transform: translateX(3px);
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
  -ms-transform: translateX(3px);
  -o-transform: translateX(3px);
}
/* discounted products swiper */
.discountedProductsSwiper .swiper-button-next, .discountedProductsSwiper .swiper-button-prev {
  @apply bg-(--seco)/30 rounded-full lg:p-3.5 sm:p-2 p-2 lg:size-12 sm:size-10 size-9 text-black lg:-translate-y-3 md:-translate-y-2 active:scale-95
}

.discountedProductsSwiper .swiper {
  @apply lg:pe-[4vw]
}